MYSQL_HOST	    = ""
MYSQL_PORT	    = 3306
MYSQL_USER	    = ""
MYSQL_PW	    = ""
MYSQL_DB	    = ""
MYSQL_BOARD_DB  = ""

MAX_PLAYER_WAITING = 15000

ADMIN_GROUPS = {["Leader"] = true, ["CoLeader"] = true, ["Moderator"] = true, ["SeniorMember"] = true, ["Member"] = true, ["Recruit"] = true, ["User"] = true}
ADMIN_LEVEL = {["Owner"] = 7, ["Leader"] = 6, ["CoLeader"] = 5, ["Moderator"] = 4, ["SeniorMember"] = 3, ["Member"] = 2, ["Recruit"] = 1, ["User"] = 0}